* {
    box-sizing: border-box;
   
  }

body{
    font-family:sans-serif;
    background-color:lightgrey;
}

.card{
    margin: 0 auto;
}

.scattergrid{
    display:grid;
    gap:0rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color:white;
    padding:1rem;
    border-radius:1em;

}

.scatter {
    width:100%;
    aspect-ratio:12/9;
}

.web {
    margin: 0 auto;
    aspect-ratio: 1.2;
    min-width:500px;
    max-width:100%;
}

@media only screen and (max-width: 768px){
    body{
        background-color:darkred;
        color:white;
        font-size:10pt;
        
    }
    .scattergrid{
        padding:0rem;
    }
    .web{
        aspect-ratio:0.7;
        background-color: darkslategrey;
    }
}